body {
  background-color: #F2ECE9;
  font-family: 'Playfair Display', serif;
}

h1, h5 {
  font-family: 'Raleway', sans-serif;
}

[type=radio] {
	width: 40px;
	height: 40px;
}

header {
  /* Gradience */
  background: rgb(35, 92, 153); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(35, 92, 153) 0%, rgb(242, 236, 233) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgb(35, 92, 153) 0%, rgb(242, 236, 233) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgb(35, 92, 153) 0%, rgb(242, 236, 233) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(35, 92, 153)', endColorstr='rgb(242, 236, 233)',GradientType=0 ); /* IE6-9 */

  text-align: center;
  padding-top: 25px;
  padding-bottom: 100px;
}

header h1 {
  font-size: 8rem;;
  color: #235C99;
  text-shadow: 0px 1px 0px #f2ece9;
  margin: 0 0 20px;
}

header p {
  font-size: 3rem;
  text-shadow: 0px 1px 0px #f2ece9;
  color: #0f263e;
}

header p:first-of-type {
  display: none;
}

.logo {
  text-shadow: 1px 1px 1px #f2ece9;
  width: 125px;
  height: 125px;
  margin: 1rem 0;
}

.search-bar {
  font-size: 3rem;
  min-height: 60px;
}

.search-bar [type=text]:focus {
  border-color: #235C99;
}

.input-group-field {
  font-family: Arial, sans-serif;
  font-size: 5rem;
  height: 10rem;
}

.button.large {
  background: url(../img/magnifier.png) center center no-repeat;
  background-color: #235C99;
  height: 10rem;
  font-size: 5rem;
}

.form-outer {
  background-color: #F2ECE9;
  padding: 30px;
  margin: -70px 15px 0 15px;
  border-radius: 10px;
  text-align: center;
}

.radio-group {
  text-align: center;
  padding: 3rem 0;
}

label {
  display: inline;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-size: 3.5em;
  text-transform: uppercase;
	color: #919CAB;
  text-shadow: 1px 1px 1px #F2ECE9;
}

.callout h5 {
  font-size: 3rem;
}

.callout p {
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
}

.callout.warning {
  background-color: white;
  border: 1px solid white;
  color: #919CAB;
}

.callout.danger {
  background-color: red;
  border: 1px solid white;
  color: white;
}

.hero-section {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section-text {
  border: 1px solid rgb(242, 236, 233);
}

.hero-section-text h1 {
  color: #235C99;
  text-shadow: 1px 1px 1px #f2ece9;
  font-size: 5rem;
}

.hero-section-text h2 {
  font-size: 2rem;
  color: #35495E;
  text-shadow: 1px 1px 1px #919CAB;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.hero-section-text p {
  color: #333;
  text-shadow: 1px 1px 1px #f2ece9;
  padding: 2rem;
  font-size: 2.5rem;
}

.hero-section-text img {
  box-shadow: 5px 5px 10px black;
  margin: 5rem 0;
}

.hide {
  display: none;
}
